#content-detail {
    width: 100%;
    padding-top: 70px;
    background-color: rgb(248, 248, 252);
    margin-bottom: 30px;
}



.main-detail {
    width: 100%;
    border: 1px #008ECC solid;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}





.info-product {
    background-color: white;
    margin: 40px 20px 10px 20px;
}










