
  
.main {
  width: 100%;
  height: 850px;
  display: flex;
  justify-content:space-between;
  padding-top: 100px;
  padding-bottom: 40px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: whitesmoke;

}

.left{
  width: 60%;
  height: 100%;
}
.img-left{
  width: 100%;
  height: 100%;
}

.right{
  background-color: white;
  width: 40%;
  height: 100%;
}

.form {
  font-size: 20px;
  padding: 30px 20px;
  margin: 0 24px;
  display: flex;
  flex-direction: column;

}
.desc{
  color:black;
  margin-top: 30px;
}
.desc p{
  font-size: 26px;
  font-weight: 700;
}
  
.form .form-group {
  margin-top: 40px;
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
}

.form-group .input{
  border-bottom: 2px solid #D1D1D4;
  height: 30px;
}

.form-group .input input{
  height: 100%;
  width: 100%;
  font-size: 20px;
  color: black;
}


.form-control:active,
.form-control:focus,
.form-control:hover {
  outline: none;
  border-bottom-color: #6A679E;
}

.form .form-submit{
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  align-items: center;
  justify-content: space-around;
}

.form-submit .btn-login{
  height: 60px;
  width: 250px;
}

.form-submit .btn-login button{
  height: 100%;
  width: 100%;
  background-color: #6A679E;
  border-radius: 10px;
  cursor: pointer;
  
}

.form-submit .btn-social{
  display: flex;

}



.item{
  background-color: white;
  border: none;
  cursor: pointer;
}
  
.img-item{
  width: 50px;
  height: 50px;
}