.container {
    width: 100%;
    background-color: rgba(248, 248, 252, 0.329);
    padding-top: 100px;
}


.img-content {
    width: 100%;
    height: auto;
}

/*----------------------------------------------------------------*/
.slider {
    width: 100%;
    position: relative;
    overflow: hidden;
}


.slide {
    margin-left: 5%;
}

.slide>img {
    width: 95%;
    height: 500px;
    border-radius: 20px;
    object-fit: fill;
}

.arrow {
    border: 2px solid white;
    background-color: #008ECC;
    color: #008ECC;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: absolute;
    width: 80px;
    height: 80px;
    padding: 10px;
}

.arrow:hover {
    background-color: #008ECC;
    color: #008ECC;
}

.next {
    top: 40%;
    right: 2.5%;
}

.prev {
    top: 40%;
    left: 2.5%;
}

.list-latop {
    border: 3px solid #008ECC;
    border-radius: 10px;
    margin-top: 130px;
    margin-bottom: 30px;
    width: 82%;
    margin-left: 9%;
}
.list-latop > p{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 40px;
    cursor: pointer;
}


.latop {
    display: flex;
    gap: 10px;
    padding-top: 40px;
    border-top: 2px lightgray solid;
    justify-content: center;
}

.latop .item {
    width: 240px;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background: white;


}

.list-latop .item>img {
    width: 200px;
    height: 200px;

}

.list-latop .item>p {
    margin-top: 10px;
}