.user {
    padding-top: 3.5vw;
    width: 60%;
    margin: auto;
    display: flex;
}

.nav-user {
    width: 20%;
    padding: 0 20px;
}

.nav-user .profile {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.nav-user .profile>img {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    object-fit: cover;
}

.nav-user .profile>span {
    margin-left: 1vw;
    font-weight: bold;
}

.item-nav {
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
    gap: 0.5vw;
    cursor: pointer;

}

.nav-a {
    color: blue;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    background-color: black;

}

.container-user {
    width: 80%;
    padding: 0 10px;

}

/*------------account------------------*/
.container-user .account {
    margin-top: 20px;
    margin-left: 2vw;
    margin-bottom: 40px;
    background-color: white;
}

/*======================================*/


/*------------changeword----------------*/
.change-password{
    margin-top: 40px;
    padding:30px 12% ;
    background-color: white;

}

/*======================================*/

/*-----------------order-----------------*/

.list-order {
    margin-top: 20px;
}

.list-order>h1 {
    text-align: center;
    margin-bottom: 20px;
}

.order {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);

}


.info-order {
    display: flex;
    align-items: center;
    border-bottom: 1px grey solid;
}

.info-order>img {
    width: 5vw;
    height: 5vw;
}


.order-bottom {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
}

.total {
    display: flex;

}
.order-bottom .total{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.order-bottom .bill {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0 5px;
}



/*-------------------bill----------------------*/
.bill {
    border: 1px solid #008ECC;
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.bill>span {
    margin-left: 10px;
}

.bill .info-company {
    display: flex;
    justify-content: space-between;
}

.bill .info-company>img {
    width: 100px;
    height: 70px;
}

.bill .info-company p {
    margin-left: 10px;
}


.bill>h1 {
    text-align: center;
}

.bill .info-user {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
}



.bill .info-product {
    margin-bottom: 30px;
}

.bill .info-product > table {
    margin: auto;
}


.bill .info-product > table{
    border: 1px solid;
}





.bill .info-product > table {
    border-spacing: 0;
}


.bill .info-product > table > thead > tr >  th {
    padding: 5px 10px;
    border-top-width: 0;
    border-left-width: 0;
    border: 1px solid;
}
.bill .info-product > table > tbody > tr > td{
    padding: 5px 10px;
    border-top-width: 0;
    border-left-width: 0;
    border: 1px solid;
}



.bill .info-product > tr {
    position: sticky;
    top: 0;
    vertical-align: bottom;
}

.bill .info-product > table > tbody > tr > td {
    max-width: 700px;
}


.bill .info-product > th:last-child{
    border-right-width: 0;
}
.bill .info-product > td:last-child {
    border-right-width: 0;
}


.bill .info-product > tr:last-child {
    border-bottom-width: 0;
}

.bill .info-product >  td {
    border-bottom-width: 0;
}